#header{
    background-color: beige;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-size: 50px;
}

#body{
    padding: 10px;
    font-size: 20px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}
ul li{
    align-items: "center";

}

ul li a{
    display: block;
    background-color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: darkgray;
}